.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.flex-c{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

p{
    width: 100%;
}

img{
    width: 200px;
    height: 200px;
}